<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="../static/bootstrap.css">
	<link rel="stylesheet" href="../static/plugins.css">
	<link rel="stylesheet" href="http://demo.mxyhn.xyz:8020/cssthemes6/oyqj-0922-8/style.css">

	<!-- Cusom css -->
   <link rel="stylesheet" href="css/custom.css">

	<!-- Modernizer js -->
	<script src="../static/modernizr-3.5.0.min.js"></script>
</head>
<body>
<div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header is-sticky">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-sm-4 col-md-6 order-1 order-lg-1">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="../static/images/煎饼.png" alt="logo images">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-sm-4 col-md-2 order-3 order-lg-2">
                            <div class="main__menu__wrap">
                                <div class="mean-push"></div><nav class="main__menu__nav d-none d-lg-block" style="display: none;">
                                    <ul class="mainmenu">
                                        <li><a href="index.html">这里</a></li>
                                        <li><a href="about-us.html">还不</a></li>
                                        <li><a href="contact.html">能点</a></li>
                                    </ul>
                                </nav>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



#正文
    <section class="fd__pizza__area bg-image--25 section-padding--lg">
            <div class="bg__cat">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section__title service__align--left">
                                <p>来看看今天吃啥呀 </p>
                                <h2 class="title__line">这是我们的菜单</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row mt--40">
                        <!-- Start Single Pizza -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="pizza foo" data-sr-id="2" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.7s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.7s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.7s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.7s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
                                <div class="pizza__thumb">
                                    <img src="../static/images/2.jpg" alt="pizza images">
                                    <div class="pizza__hover__action">
                                        <span class="pizza__prize">$1</span>
                                    </div>
                                </div>
                                <div class="pizza__details">
                                    <h2 class="pizza__title"><a href="#">煎饼</a></h2>
                                    <p>一个$1，吃了顶饱</p>
                                    <div class="pizza__btn">
                                         <button  class="food__btn white--btn theme--hover" name="food" value="煎饼" type="submit"><span>买它</span></button>
{#                                        <a class="food__btn white--btn theme--hover" href="#">狠狠心动</a>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Pizza -->
                        <!-- Start Single Pizza -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="pizza foo" data-sr-id="3" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.7s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.7s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.7s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.7s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
                                <div class="pizza__thumb">
                                    <img src="/static/images/max.jpg" alt="pizza images">
                                    <div class="pizza__hover__action">
                                        <span class="pizza__prize">$10</span>
                                    </div>
                                </div>
                                <div class="pizza__details">
                                    <h2 class="pizza__title"><a href="#">煎饼MAX</a></h2>
                                    <p>它卖$10！可能有点撑！</p>
                                    <div class="pizza__btn">
                                        <a class="food__btn white--btn theme--hover" href="#">狠狠心动</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Pizza -->
                        <!-- Start Single Pizza -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="pizza foo" data-sr-id="4" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.7s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.7s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.7s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.7s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
                                <div class="pizza__thumb">
                                    <img src="/static/images/pro.jpg" alt="pizza images">
                                    <div class="pizza__hover__action">
                                        <span class="pizza__prize">$100</span>
                                    </div>
                                </div>
                                <div class="pizza__details">
                                    <h2 class="pizza__title"><a href="#">煎饼Pro</a></h2>
                                    <p>它卖$100！真的很值得</p>
                                    <div class="pizza__btn">
                                        <a class="food__btn white--btn theme--hover" href="#">狠狠心动</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Pizza -->
                    </div>
                </div>
            </div>
            <div class="order-now-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="fd__order__now text-center">
                                <div class="order__now__inner">
                                    <h6>心动不如行动</h6>
                                    <h2>V我1000，教你卖煎饼果子</h2>
                                    <p>有意者联系懒瑾电话：123456</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>
</html>